In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('new_wiki_val.csv')
df.head()

,Original,Simplified
0,A special Meowth card was available with purch...,A special Meowth card was given when buying th...
1,Christ Church is a joint foundation of the col...,"As well as being a college , Christ Church is ..."
2,Lloris conceded only 24 goals in his 30 appear...,He gave up only 24 goals and recorded 13 clean...
3,The following is a list of organists recorded ...,The Cathedral was refounded with a Chapter of ...
4,Ste ́ phane Houdet / Stefan Olsson defeated Ma...,Stephane Houdet / Stefan Olsson beat Maikel Sc...

In [3]:

df['Original']

0        A special Meowth card was available with purch...
1        Christ Church is a joint foundation of the col...
2        Lloris conceded only 24 goals in his 30 appear...
3        The following is a list of organists recorded ...
4        Ste ́ phane Houdet / Stefan Olsson defeated Ma...
                               ...
48829    She became the first woman at NSA to be promot...
48830    Snow may lie from more than a month to 105 day...
48831    By 1841 , Deere was manufacturing 75 – 100 plo...
48832    The area hosts a large equestrian community , ...
48833    The new flag is a horizontal tricolor flag of ...
Name: Original, Length: 48834, dtype: object

In [7]:
outSrcFile = open('NewWikiVal_src.txt', "w", encoding='utf-8')
outSrcFile.writelines(df['Original'] + '\n')
outSrcFile.close()
outTgtFile = open('NewWikiVal_tgt.txt', "w", encoding='utf-8')
outTgtFile.writelines(df['Simplified']+ '\n')
outTgtFile.close()